* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #36D1DC, #5B86E5);
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

#copyBtn {
    position: absolute;
    right: 5px;
    top: 32px;
    padding: 5px 10px;
    border: none;
    background: #5B86E5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#copyBtn:hover {
    background: #4a74c4;
}

#generateBtn {
    width: 100%;
    padding: 10px;
    background-color: #36D1DC;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#generateBtn:hover {
    background-color: #2fb3bd;
}
